:root {
  --color-primary: 182, 196, 255;
  --color-surface-tint: 182, 196, 255;
  --color-on-primary: 29, 45, 97;
  --color-primary-container: 52, 68, 121;
  --color-on-primary-container: 220, 225, 255;
  --color-secondary: 194, 197, 221;
  --color-on-secondary: 43, 48, 66;
  --color-secondary-container: 65, 70, 89;
  --color-on-secondary-container: 222, 225, 249;
  --color-tertiary: 227, 186, 218;
  --color-on-tertiary: 67, 39, 64;
  --color-tertiary-container: 91, 61, 87;
  --color-on-tertiary-container: 255, 215, 246;
  --color-error: 255, 180, 171;
  --color-on-error: 105, 0, 5;
  --color-error-container: 147, 0, 10;
  --color-on-error-container: 255, 218, 214;
  --color-background: 18, 19, 24;
  --color-on-background: 227, 225, 233;
  --color-surface: 18, 19, 24;
  --color-on-surface: 227, 225, 233;
  --color-surface-variant: 69, 70, 79;
  --color-on-surface-variant: 198, 198, 208;
  --color-outline: 143, 144, 154;
  --color-outline-variant: 69, 70, 79;
  --color-shadow: 0, 0, 0;
  --color-scrim: 0, 0, 0;
  --color-inverse-surface: 227, 225, 233;
  --color-inverse-on-surface: 47, 48, 54;
  --color-inverse-primary: 76, 92, 146;
  --color-primary-fixed: 220, 225, 255;
  --color-on-primary-fixed: 3, 23, 75;
  --color-primary-fixed-dim: 182, 196, 255;
  --color-on-primary-fixed-variant: 52, 68, 121;
  --color-secondary-fixed: 222, 225, 249;
  --color-on-secondary-fixed: 22, 27, 44;
  --color-secondary-fixed-dim: 194, 197, 221;
  --color-on-secondary-fixed-variant: 65, 70, 89;
  --color-tertiary-fixed: 255, 215, 246;
  --color-on-tertiary-fixed: 44, 18, 42;
  --color-tertiary-fixed-dim: 227, 186, 218;
  --color-on-tertiary-fixed-variant: 91, 61, 87;
  --color-surface-dim: 18, 19, 24;
  --color-surface-bright: 56, 57, 63;
  --color-surface-container-lowest: 13, 14, 19;
  --color-surface-container-low: 26, 27, 33;
  --color-surface-container: 30, 31, 37;
  --color-surface-container-high: 41, 42, 47;
  --color-surface-container-highest: 52, 52, 58;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: 76, 92, 146;
    --color-surface-tint: 76, 92, 146;
    --color-on-primary: 255, 255, 255;
    --color-primary-container: 220, 225, 255;
    --color-on-primary-container: 3, 23, 75;
    --color-secondary: 89, 94, 114;
    --color-on-secondary: 255, 255, 255;
    --color-secondary-container: 222, 225, 249;
    --color-on-secondary-container: 22, 27, 44;
    --color-tertiary: 117, 84, 112;
    --color-on-tertiary: 255, 255, 255;
    --color-tertiary-container: 255, 215, 246;
    --color-on-tertiary-container: 44, 18, 42;
    --color-error: 186, 26, 26;
    --color-on-error: 255, 255, 255;
    --color-error-container: 255, 218, 214;
    --color-on-error-container: 65, 0, 2;
    --color-background: 250, 248, 255;
    --color-on-background: 26, 27, 33;
    --color-surface: 250, 248, 255;
    --color-on-surface: 26, 27, 33;
    --color-surface-variant: 226, 225, 236;
    --color-on-surface-variant: 69, 70, 79;
    --color-outline: 118, 118, 128;
    --color-outline-variant: 198, 198, 208;
    --color-shadow: 0, 0, 0;
    --color-scrim: 0, 0, 0;
    --color-inverse-surface: 47, 48, 54;
    --color-inverse-on-surface: 241, 240, 247;
    --color-inverse-primary: 182, 196, 255;
    --color-primary-fixed: 220, 225, 255;
    --color-on-primary-fixed: 3, 23, 75;
    --color-primary-fixed-dim: 182, 196, 255;
    --color-on-primary-fixed-variant: 52, 68, 121;
    --color-secondary-fixed: 222, 225, 249;
    --color-on-secondary-fixed: 22, 27, 44;
    --color-secondary-fixed-dim: 194, 197, 221;
    --color-on-secondary-fixed-variant: 65, 70, 89;
    --color-tertiary-fixed: 255, 215, 246;
    --color-on-tertiary-fixed: 44, 18, 42;
    --color-tertiary-fixed-dim: 227, 186, 218;
    --color-on-tertiary-fixed-variant: 91, 61, 87;
    --color-surface-dim: 218, 217, 224;
    --color-surface-bright: 250, 248, 255;
    --color-surface-container-lowest: 255, 255, 255;
    --color-surface-container-low: 244, 243, 250;
    --color-surface-container: 238, 237, 244;
    --color-surface-container-high: 233, 231, 239;
    --color-surface-container-highest: 227, 225, 233;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-on-background));
  background: rgb(var(--color-background));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
